@import './variables';

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.short-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.black-text {
  color: $black;
}

.red-text {
  color: $red;
}

.blue-text {
  color: $blue;
}

.white-text {
  color: $white;
}
