$black: black;
$white: white;
$red: red;
$blue: #185bff;
$green: #008000;
$active-route: #ffffff2e;

$single-book-default-image-url: url('https://pngicon.ru/file/uploads/Book3.png');
$single-book-image-width: 256px;
$single-book-image-height: 256px;
