.cart-item-total-cell{
  width: 100px;
  max-width: 100px;
  overflow: hidden;
}

.cart-item-remove-cell{
  max-width: 100px;
  width: 100px;
}

.cart-item-title-cell{
  max-width: 300px;
  width: 300px;
}
