<div *ngIf="book">
  <div>

    <h2 class="text-center">{{book.title}}</h2>

    <div class="d-flex content-center">
      <div class="book-image"></div>
      <div>
        <div>Writing date: {{book.writing_date | date:'dd/MM/yyyy hh:mm'}}</div>
        <div>Release date: {{book.release_date | date:'dd/MM/yyyy hh:mm'}}</div>
        <span>Price: {{book.price | number:'2.2'}}</span>
        <div class="mrt15">
          <button class="w100" (click)="toogleToCart(book)" mat-raised-button color="{{!book.isInCart ? 'primary' : 'warn'}}">
            {{!book.isInCart ? 'Add to cart' : 'Remove from cart'}}
          </button>
        </div>
      </div>
    </div>l

    <div class="d-flex content-center">
      <div class="d-flex content-center w50">{{book.description}}</div>
    </div>

  </div>

</div>


