<h2 style="text-align: center">Genres</h2>

<div *ngIf="isGenresLoaded" style="display: flex; justify-content: center;">

  <div style="width: 35%;">
    <mat-list >
      <ng-container *ngFor="let genre of genres">
        <mat-list-item class="list-item-black-color" >
          <a class="black-link" routerLink="{{ genre.id }}">
            <span>{{ genre.name }}</span>
          </a>
          <mat-divider class="divider-border"></mat-divider>
        </mat-list-item>
      </ng-container>
    </mat-list>

    <mat-paginator [length]="meta?.records"
                   [pageSize]="meta?.limit"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageChanged($event)">
    </mat-paginator>
  </div>

</div>


