<h2 class="text-center">Authors</h2>

<div *ngIf="isAuthorsLoaded" class="d-flex content-center">

  <div class="w35">
    <mat-list>
      <ng-container *ngFor="let author of authors">
        <mat-list-item>
          <a class="black-link" routerLink="{{author.id}}" >
            <span>{{author.first_name}} {{author.last_name}}</span>
          </a>
          <mat-divider class="app-mat-divider-border"></mat-divider>
        </mat-list-item>
      </ng-container>
    </mat-list>

    <app-paginator [meta]="meta" (changed)="paginatorPropsChanged($event)"></app-paginator>

  </div>

</div>
