<h2 class="text-center">Authors</h2>

<div *ngIf="isAuthorLoaded" class="d-flex content-center">

  <div class="w35">
    <mat-list>
      <ng-container *ngFor="let author of authors">
        <mat-list-item  class="list-item-black-color" >
          <a class="black-link" routerLink="{{author.id}}" >
            <span>{{author.first_name}} {{author.last_name}}</span>
          </a>
          <mat-divider class="divider-border"></mat-divider>
        </mat-list-item>
      </ng-container>
    </mat-list>

    <mat-paginator [length]="meta?.records"
                   [pageSize]="meta?.limit"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageChanged($event)">
    </mat-paginator>
  </div>

</div>
