<h2 style="text-align: center">Genres</h2>

<div *ngIf="genres && genres.length > 0" style="display: flex; justify-content: center;">

  <div style="width: 35%;">
    <mat-list >
      <ng-container *ngFor="let genre of genres">
        <mat-list-item style="color: black;" >
          <span>{{genre.name}}</span>
          <mat-divider style="border-top-color: black"></mat-divider>
        </mat-list-item>
      </ng-container>
    </mat-list>

    <mat-paginator [length]="meta?.records"
                   [pageSize]="meta?.limit"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageChanged($event)">
    </mat-paginator>
  </div>

</div>


